- type: log
  enabled: true
  paths:
  - "{{ item.log_path }}"
  multiline.pattern: ^\d{4}-\d{2}-\d{2}
  multiline.negate: true
  multiline.match: after
  fields:
    log_type: "{{ item.log_path.split('/')[-3] }}"

